# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alcam\Google Drive\Synchronisation ordinateurs\Developpement\JetBrains Academy\Python\Multilingual Online Translator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
